@import url(//fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100);

body {
	font-family: 'Raleway', sans-serif;
}
.input-message{
	min-height: 80px;
}


.expand-email-button{
	position: fixed;
	top:91px;
	right: 0px;
	
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 	14px;

}
.form-group{
	padding: 15px;
}
.modal-content{
	width: 315px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 15px;	
}
.phone-container a{
	display: block;
}
.serviceInfo{
	display: inline-block;
	width: 315px;
	height: 100px;
	border-radius: 3px;
	background: #333;
/*	border: 1px solid #95a1ba;*/
}
.serviceInfo p{
	width: 314px;
	height: 100px;
	display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;

}

.serviceInfo:hover{
/*	box-shadow:0 0 40px rgba(0,0,0,0.5);*/
     
    background-color: #e8a648;
}

.serviceInfo p:hover {
	color: #ffffff;
}

.list-elements{
	width: 314px;
	margin: 50px auto;
}
.section{
	width: 100%;
	display: table;
    margin: 0 auto;
    padding-bottom: 50px;
}

.clients-section{
	width: 100%;
	display: table;
	margin: 0 auto;
	padding-bottom: 50px;

}

.logo-container{
	width: 320px;	
	margin: 0 auto;
	font-size: 0px;
}

/*.logo-container img {
	padding-left: 20px;
}*/

.logo-container img:hover {
	
	width: 120px;	
	/*margin: 0 auto;*/
}

.workflow-section{
	font-size: 0px;
	width: 100%;
	display: table;
    margin: 0 auto;
    padding-bottom: 50px;
}
.col-lg-12{
	padding-right: 0px;
    padding-left: 0px;
}



.modal img{
	margin-top: 50px; 
	width: 640px;
}
.tab-container{
	margin: auto;
	width: 948px;
}
@media(min-width: 767px){
	.logo-container{
		width: 640px;
	}
}
@media(max-width: 767px){
	.tab-container{
		width: 100%;
	}
}


.feedback-container div{
	padding-top: 10px;
}
.certificates-section{
	height: initial;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	img { max-width: 100%; }
}

.intro-section{
	background: url(../img/vs-background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.inner-contacts{
 	background:rgba(255,255,255,0.5);
 	border-radius: 4px;
    -moz-border-radius: 4px;
    max-width: 640px;
    margin: 0 auto;
    font-weight: 100;

}
.inner-contacts div{
	padding-bottom: 25px;
	padding-top: 25px;
}
.footer{
	background:rgba(255,255,255);
}
.footer-container{
	width: 100%;
	background-color: #17191c;
	text-align: center;
	padding: 10px 0px 10px 0px
	color:	#fff;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;

}
.footer-contacts{
	width: 320px;
	margin: auto;
	color: #fff;
}
.copyrigth{
	width: 320px;
	margin: auto;
	padding-top: 10px;
	color: #747577;
}
.footer-contacts a{
	display: block;
}
.main-logo{
	width: 250px;
	height: 50px;
}
.navbar-brand{
	padding:0;
}
a:link {
    color: black;
    text-decoration: none;
}

.footer-container a:link {
	color: #fff;
	text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;

    color: black;
}

/* mouse over link */
a:hover {
    text-decoration: none;

    color: #f8f8f8;
}

/* selected link */
a:active {

    text-decoration: none;

    color: black;
}


.navbar {
	font-size: 	17px;
}

.footer-container p:last-child {
	font-size: 15px;
}

.glyphicon {
    display:block;
    text-align:center;
    padding-bottom: 5px;
}